In [34]:
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from datetime import date
%matplotlib inline

In [35]:
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = "your_alpaca_apikey"
alpaca_secret_key = "your_alpaca_secretkey"

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [36]:
ticker = ['SPY', 'AGG','DIA', 'XLY','QQQ', 'GLD', 'SLV', 'VWO','USO', 'EFA']

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2015-01-01', tz='America/New_York').isoformat()
today = date.today()
end_date = pd.Timestamp(today.strftime("%Y-%m-%d"), tz="America/New_York").isoformat()

# Get 1 year's worth of historical data for SPY and AGG
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df


# Remove the time component of the data
df.index = df.index.date

In [37]:
df = df.drop(
    columns=['open', 'high', 'low', 'volume'],
    level=1
)

In [38]:
df.head()

,AGG,DIA,EFA,GLD,QQQ,SLV,SPY,USO,VWO,XLY
,close,close,close,close,close,close,close,close,close,close
2015-01-02,110.45,177.99,54.67,114.070,99.50,15.11,205.41,19.9000,39.570,71.63
2015-01-05,110.67,161.40,59.12,115.850,98.04,15.53,201.80,18.8000,38.930,70.27
2015-01-06,110.97,173.42,58.47,117.099,96.73,15.83,199.82,18.0600,38.760,69.57
2015-01-07,110.92,175.62,59.14,116.430,97.97,15.84,202.34,18.3600,39.640,70.65
2015-01-08,110.74,178.76,59.95,115.950,99.85,15.63,205.92,18.5489,40.305,71.70

In [55]:
daily_returns=df.pct_change()
daily_returns = daily_returns.dropna()
daily_returns.tail()

,AGG,DIA,EFA,GLD,QQQ,SLV,SPY,USO,VWO,XLY
,close,close,close,close,close,close,close,close,close,close
2020-08-07,-0.001129,0.002373,-0.004381,-0.015734,-0.011235,-0.025316,0.000718,-0.011262,-0.020523,0.001641
2020-08-10,-0.000963,0.013110,0.003300,-0.003354,-0.004494,0.031322,0.002989,0.010385,0.000230,0.011682
2020-08-11,-0.002891,-0.003702,0.003759,-0.053534,-0.018758,-0.135926,-0.008136,-0.010942,-0.004144,-0.001690
2020-08-12,-0.001891,0.010246,0.022160,-0.004667,0.025338,0.002992,0.013821,0.024304,0.012483,0.013118
2020-08-13,-0.003705,-0.002428,-0.004427,0.023501,0.002023,0.086761,-0.001660,-0.005073,-0.004110,-0.000348

In [56]:
daily_returns.columns = daily_returns.columns.droplevel(1)

In [57]:
from statsmodels.tsa.arima_model import ARIMA
model1 = ARIMA(daily_returns.AGG, order=(2, 1, 1))
model2 = ARIMA(daily_returns.DIA, order=(2, 1, 1))
model3 = ARIMA(daily_returns.EFA, order=(2, 1, 3))
model4 = ARIMA(daily_returns.GLD, order=(2, 1, 1))
model5 = ARIMA(daily_returns.QQQ, order=(2, 1, 1))
model6 = ARIMA(daily_returns.SLV, order=(2, 1, 1))
model7 = ARIMA(daily_returns.SPY, order=(2, 1, 1))
model8 = ARIMA(daily_returns.USO, order=(2, 1, 1))
model9 = ARIMA(daily_returns.VWO, order=(2, 1, 1))
model10 = ARIMA(daily_returns.XLY, order=(2, 1, 1))

C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:216: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'

In [9]:
model3

In [58]:
results_arima1 = model1.fit()
results_arima2 = model2.fit()
results_arima3 = model3.fit()
results_arima4 = model4.fit()
results_arima5 = model5.fit()
results_arima6 = model6.fit()
results_arima7 = model7.fit()
results_arima8 = model8.fit()
results_arima9 = model9.fit()
results_arima10 = model10.fit()

C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\base\model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
C:\Users\zhaoy\anaconda3\lib\site-packages\statsmodels\base\model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "

In [61]:
forecast_agg=pd.DataFrame((results_arima1.forecast(steps=5)[0] + 1)).prod()
forecast_dia=pd.DataFrame((results_arima2.forecast(steps=5)[0] + 1)).prod()
forecast_efa=pd.DataFrame((results_arima3.forecast(steps=5)[0] + 1)).prod()
forecast_gld=pd.DataFrame((results_arima4.forecast(steps=5)[0] + 1)).prod()
forecast_qqq=pd.DataFrame((results_arima5.forecast(steps=5)[0] + 1)).prod()
forecast_slv=pd.DataFrame((results_arima6.forecast(steps=5)[0] + 1)).prod()
forecast_spy=pd.DataFrame((results_arima7.forecast(steps=5)[0] + 1)).prod()
forecast_uso=pd.DataFrame((results_arima8.forecast(steps=5)[0] +1)). prod()
forecast_vwo=pd.DataFrame((results_arima9.forecast(steps=5)[0] + 1)).prod()
forecast_xly=pd.DataFrame((results_arima10.forecast(steps=5)[0] + 1)).prod()

In [63]:
forecast_agg

0    1.001618
dtype: float64

In [66]:
forecast_agg = pd.DataFrame(forecast_agg)
forecast_dia=pd.DataFrame(forecast_dia)
forecast_efa=pd.DataFrame(forecast_efa)
forecast_gld=pd.DataFrame(forecast_gld)
forecast_qqq=pd.DataFrame(forecast_qqq)
forecast_slv=pd.DataFrame(forecast_slv)
forecast_spy=pd.DataFrame(forecast_spy)
forecast_uso=pd.DataFrame(forecast_uso)
forecast_vwo=pd.DataFrame(forecast_vwo)
forecast_xly=pd.DataFrame(forecast_xly)

In [65]:
forecast_agg

          0
0  1.001618

In [23]:
#(results_arima1.forecast(steps=5)[0] + 1).prod()

1.1769964301270441

In [67]:
forecast_agg['Return_Forecast_AGG']=forecast_agg[0]
forecast_dia['Return_Forecast_DIA']=forecast_dia[0]
forecast_efa['Return_Forecast_EFA']=forecast_efa[0]
forecast_gld['Return_Forecast_GLD']=forecast_gld[0]
forecast_qqq['Return_Forecast_QQQ']=forecast_qqq[0]
forecast_slv['Return_Forecast_SLV']=forecast_slv[0]
forecast_spy['Return_Forecast_SPY']=forecast_spy[0]
forecast_uso['Return_Forecast_USO']=forecast_uso[0]
forecast_vwo['Return_Forecast_VWO']=forecast_vwo[0]
forecast_xly['Return_Forecast_XLY']=forecast_xly[0]

In [68]:
forecast_agg

          0  Return_Forecast_AGG
0  1.001618             1.001618

In [69]:
forecast_agg = forecast_agg.drop(columns=[0])
forecast_dia = forecast_dia.drop(columns=[0])
forecast_efa = forecast_efa.drop(columns=[0])
forecast_gld = forecast_gld.drop(columns=[0])
forecast_qqq = forecast_qqq.drop(columns=[0])
forecast_slv = forecast_slv.drop(columns=[0])
forecast_spy = forecast_spy.drop(columns=[0])
forecast_uso = forecast_uso.drop(columns=[0])
forecast_vwo = forecast_vwo.drop(columns=[0])
forecast_xly = forecast_xly.drop(columns=[0])

In [70]:
forecast_dia

   Return_Forecast_DIA
0             1.001149

In [71]:
portfolio = pd.concat([forecast_agg,forecast_dia,forecast_efa,forecast_gld,forecast_qqq,forecast_slv,forecast_spy,forecast_uso,forecast_vwo,forecast_xly],axis="columns", join="outer")

In [72]:
portfolio.head()

,Return_Forecast_AGG,Return_Forecast_DIA,Return_Forecast_EFA,Return_Forecast_GLD,Return_Forecast_QQQ,Return_Forecast_SLV,Return_Forecast_SPY,Return_Forecast_USO,Return_Forecast_VWO,Return_Forecast_XLY
0,1.001618,1.001149,0.989096,1.008776,1.014843,1.032437,1.004938,1.101121,1.004006,1.005829

In [77]:
arima=portfolio.T
arima

                            0
Return_Forecast_AGG  1.001618
Return_Forecast_DIA  1.001149
Return_Forecast_EFA  0.989096
Return_Forecast_GLD  1.008776
Return_Forecast_QQQ  1.014843
Return_Forecast_SLV  1.032437
Return_Forecast_SPY  1.004938
Return_Forecast_USO  1.101121
Return_Forecast_VWO  1.004006
Return_Forecast_XLY  1.005829

In [80]:
arima = arima.sort_values(by=[0],ascending=False)
arima

                            0
Return_Forecast_USO  1.101121
Return_Forecast_SLV  1.032437
Return_Forecast_QQQ  1.014843
Return_Forecast_GLD  1.008776
Return_Forecast_XLY  1.005829
Return_Forecast_SPY  1.004938
Return_Forecast_VWO  1.004006
Return_Forecast_AGG  1.001618
Return_Forecast_DIA  1.001149
Return_Forecast_EFA  0.989096

In [83]:
arima.to_csv('arima.csv')